@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about unser Kollegen:  <a href="https://gruppe6.testsites.info/"> Baslow + BigMac</a></p>
    <p>Learn about unser Kollegen:  <a href="https://gruppe1.testsites.info/"> Transformer + S,c,h,m,i,d,t</a></p>
</div>
