@model WebServer.Models.UserModel
@{
    ViewData["Title"] = "LoginView";
    Layout = "~/Views/User/_AuthLayout.cshtml";
    var Error = TempData["Error"] as string;
    if (!string.IsNullOrEmpty(Error))
    {
        if (Error.Contains("Erfolg"))
        {
            <h2 class="alert-info" style="padding: 20px">@Error</h2>
        }
        else
        {
            <h2 class="alert-danger" style="padding: 20px">@Error</h2>
        }
    }
}

<div class="col col-md-10 offset-md-1">
    <section>
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="Email" placeholder="E-mail / Benutzername" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" asp-for="Password" placeholder="Passwort" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" asp-controller="Auth" asp-action="Login" class="btn btn-primary btn-block">Anmelden</button>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}