@model WebServer.Models.UserModel
@{
    ViewData["Titel"] = "Registrierung";
    Layout = "~/Views/User/_AuthLayout.cshtml";
    var Error = TempData["Error"] as string;
    if (!string.IsNullOrEmpty(Error))
    {
        <h2 class="alert-danger" style="padding: 20px">@Error</h2>
    }
}

<div class="card-body">
    <form method="post">
        <div class="row">
            <h6>Benutzername:</h6>
            <input asp-for="UserName" class="form-control" required/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="row">
            <h6>E-Mail:</h6>
            <input type="email" asp-for="Email" class="form-control" required/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>


        <div class="row">
            <h6>Passwort:</h6>
            <input type="password" asp-for="Password" class="form-control" minlength="8" required/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="row">
            <h6>Passwort wiederholen:</h6>
            <input type="password" asp-for="ConfirmPassword" class="form-control" minlength="8" required/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <br />

        <div class="row">
            <button type="submit" asp-controller="Auth" asp-action="Register" class="btn btn-primary btn-block">Registrieren</button>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}