@model WebServer.Models.UserModel
@{
    ViewData["Titel"] = "Registrierung";
    Layout = "~/Views/User/_AuthLayout.cshtml";
    var Error = TempData["Error"] as string;
    if (!string.IsNullOrEmpty(Error))
    {
        <h2 class="alert-danger" style="padding: 20px">@Error</h2>
    }
}

<section>
    <form method="post">
        <div>
            <div>
                <div>
                    <label>Benutzername</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div>
                    <label>Email</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div>
                    <label>Passwort</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div>
                    <label>Passwort Wiederholen</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div>
        <button type="submit" asp-controller="Auth" asp-action="Register" class="btn btn-primary btn-block">Registrieren</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}