@using WebServer.Models;
@{
    ViewData["Title"] = "Termine bearbeiten";
    List<MeetingModel> meetings = ViewData["meetings"] as List<MeetingModel>;
    int count = 0;
}
<h1>@ViewData["Title"]</h1>
<h1>ADMIN</h1>