@model WebServer.Models.MeetingModel
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/fullcalendar/main.css" rel='stylesheet' />
@if (User.Identity.IsAuthenticated)
{
    <div class="card">
        <div class="card-body">
            <div id='calendar'>
                @section Scripts
                {
                    <script src="~/fullcalendar/main.js"></script>
                    <script src="~/fullcalendar/locales/de.js"></script>
                    <script>
                        document.addEventListener('DOMContentLoaded',
                            function () {
                                var calendarEl = document.getElementById('calendar');
                                var calendar = new FullCalendar.Calendar(calendarEl,
                                    {
                                        contentHeight: "auto",
                                        initialView: 'dayGridMonth',
                                        headerToolbar: {
                                            left: 'prev,next today',
                                            center: 'title',
                                            right: 'dayGridMonth,timeGridWeek,listMonth'
                                        },
                                        locale: 'de',
                                        events: { url: 'https://gruppe7.testsites.info/MeetingController/AllEvents' }
                                    });
                                calendar.render();
                            });
                    </script>
                }
            </div>
        </div>
    </div>  }
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about our colleagues:  <a href="https://gruppe6.testsites.info/"> Baslow + BigMac</a></p>
        <p>Learn about our colleagues:  <a href="https://gruppe1.testsites.info/"> Transformer + S,c,h,m,i,d,t</a></p>

    </div>
}