@model WebServer.Models.MeetingModel
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/fullcalendar/main.css" rel='stylesheet' />
@if (User.Identity.IsAuthenticated)
{
    <div class="card">
        <div class="card-body">
            <div id='calendar'>
                @section Scripts
                {
                    <script src="~/fullcalendar/main.js"></script>
                    <script src="~/fullcalendar/locales/de.js"></script>
                    <script>
                        document.addEventListener('DOMContentLoaded',
                            function () {
                                var calendarEl = document.getElementById('calendar');
                                var calendar = new FullCalendar.Calendar(calendarEl,
                                    {
                                        
                                        initialView: 'dayGridMonth',
                                        headerToolbar: {
                                            left: 'prev,next today',
                                            center: 'title',
                                            right: 'dayGridMonth,timeGridWeek,listMonth'
                                        },
                                        locale: 'de',
                                        events: { url: 'https://gruppe7.testsites.info/MeetingController/AllEvents' }
                                    });
                                calendar.render();
                            });
                    </script>
                }
            </div>
        </div>
    </div>  }
else
{
    <div class="text-center">
        <h1 class="display-4">Wilkommen beim Terminplanungsassistenten</h1>

        <p align="justify">
            Diese Website, ist von Timo und Simo im Rahmen eines Prüfungsprojekts  des Kurses TINF19C, der DH BW Stuttgart entwickelt worden.
            Ziel war es vor allem die Serverseitige Programmierung, Einrichtung  eines Servers und das Programmieren einer API zu erlernen.
            <br /><br />
            Der Terminplanungsassistent, ist ein exemplarisches Projekt bei dem Nutzer die Möglichkeit bekommen, verfügbare Termine zu buchen und wieder abzusagen.
            Die Termine werden durch den Admin der Seite erstellt und dem User in einer Kalenderansicht, sowie einer Listenansicht angezeigt werden.
            <br /><br />
            Viel Spaß beim Ausprobieren und dem Versuch einen Termin zu Zeiten von Corona zu ergattern :D
            <br/>
            Wenn ihr jetzt lust habt eine Runde zu spielen, dann testen Sie doch mal  <a href="https://gruppe1.testsites.info/">Memeory</a>
        </p>
    </div>
}