@using WebServer.Models;
@{
    ViewData["Title"] = "Meine Termine";
    List<MeetingModel> meetings = ViewData["meetings"] as List<MeetingModel>;
    int count = 0;
}
<h1>@ViewData["Title"]</h1>

<meta charset='utf-8' />
<link href="~/fullcalendar/main.css" rel='stylesheet' />
<div id='calendar'></div>
@section Scripts
{
    <script src="~/fullcalendar/main.js"></script>
    <script src="~/fullcalendar/locales/de.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                //themeSystem: 'bootstrap', 
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,listWeek'
                },
                locale: 'de'
            });
            calendar.render();
        });
    </script>
}

