@using System.Security.Claims
@using WebServer.Services
@model WebServer.Models.UserModel
@{
    var user = new UserModel() { UserName = "" };
    try
    {
        var idString = User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value;
        Guid id2 = Guid.Parse(idString);
        LoginConnector loginConnector = new LoginConnector();
        user = loginConnector.FindById(id2).Value;
    }
    catch
    {
        user = new UserModel(){UserName = ""};
    }
}

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <h5 class="nav-link text-dark">Hallo @user.UserName</h5>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ManageUserView" title="Manage">Profil bearbeiten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RegisterView">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LoginView">Login</a>
        </li>
    }
</ul>